{% extends 'layout.html.twig' %}

{% block body %}

<div class="row justify-content-center text-center">

	<div class="col-md-4">

		<br><h3>Ajouter une tâche</h3><br>

		{{ form(form) }}

		{% for message in app.flashes('successeadd') %}
            <div class="alert alert-success">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

	</div>

</div>

{% endblock %}