{% extends 'layout.html.twig' %}

{% block body %}

<div class="row justify-content-center text-center">

	<div class="col-md-4">

		<br><h3>Changer le nom de la liste</h3><br>

		{{ form(form) }}

	</div>

</div>

{% endblock %}